* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

select{
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
}


.card-title{
    color: black !important;
}
